/* .modal_Wrapper {
    position: relative;
} */

.menu_Btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #DCEFD8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_Btn:hover, .menu_Btn:focus {
    background-color: #97D28B;
}

.modal_backDrop {
    background: rgba(23, 61, 51, 0.25);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal_Overlay {
    position: fixed;
    top: 36px;
    left: 20px;
    right: 20px;
    bottom: 36px;
    height: calc(100vh-66px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(23, 61, 51, 0.75);
    backdrop-filter: blur(12.5px);
    padding: 24px;
    border-radius: 25px;
    width: calc(100%-40px);
    bottom: 30px;
    overflow: auto;
    z-index: 1000;

    @media screen and (min-width: 768px) {
        width: 365px;
        top: 42px;
        left: calc(100% - 395px);
        height: 700px;

    }

    @media screen and (min-width: 1280px) {
        top: 30px;
        left: calc(100% - 465px);
    }
}

.close_Modal {
    display: flex;
    align-items: center;
    color: #FFF;
    border-bottom: 1px solid white;
}

.close_Box:hover .close_Modal, .close_Box:focus .close_Modal {
    color: #97D28B;
}

.close_Box:hover .close_Icon, .close_Box:focus .close_Icon{
    fill: #97D28B;
}

.close_Icon {
    margin-left: -5px;
}

.social_icon:hover, .social_icon:focus{
    fill:#97D28B;
}

.social_icon:last-child {
    margin-left: 8px;
}