.contactBtn{
    display: flex;
    font-size: 16px;
    font-family: 'FiraSans_Regular';
    padding: 10px 12px 10px 16px;
    background-color: #97D28B;
    color: #173D33;
    border: none;
    border-radius: 500px;
    margin-left: 12px;
}

.contactBtn:hover, .contactBtn:focus{
    background-color: #173D33;
    color: #97D28B;
    &::after{
        content: '\2193';
        color: #173D33;
        font-size: 12px;
        background-color: #97D28B;
    }
}

.contactBtn:hover .contactLink, .contactBtn:focus .contactLink{
    color: #97D28B;
}

.contactBtn::after {
    content: "";
    display: inline-block;
    align-self: center;
    margin: auto 0 auto 12px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #173D33;
}

.contactLink {
    color: #173D33;
    display: flex;
    align-items: center;
}

.contactLink:hover, .contactLink:focus{
    color: #97D28B;
}

