.header_wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    /* width: 100%; */
}

.header_btnBox {
    display: flex;
    align-items: center;
}