.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 480px;


  
  @media screen and (min-width: 768px) {
    padding: 0 30px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 100px;
    max-width: 1280px;
  }
}