.nav {
 display: flex;
 flex-direction: column;
 padding-top: 16px;
}

.nav_link {
    font-size: 24px;
    color: white;

    @media screen and (min-width: 768px) {
        color: #fff;
        opacity: 0.25;
    }
}

.nav_link:visited, .arrow_Icon:visited {
    @media screen and (min-width: 768px) {
        color: #97D28B;
        opacity: 0.25;
    }
}

.nav_link:hover, .nav_link:focus, .arrow_Icon:hover, .arrow_Icon:focus {
    @media screen and (min-width: 768px) {
        color: #fff;
        opacity: 1;
    }
}

.nav_link:active, .arrow_Icon:active {
    color: #97D28B;
}

.nav_item:not(:last-child){
    margin-bottom: 8px;
}

.arrow_Icon {
    margin-left: 8px;
}